{{template "base". }}
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>About Us</h1>
                <p>This is the about page of our Go application.</p>
                <p>This came from template: {{index .StringMap "test"}}</p>
                <p>
                    {{if ne (index .StringMap "remote_ip") ""}}
                        Your IP address is {{index .StringMap "remote_ip"}}
                    {{else}}
                        I don't know your IP address yet. Visit the <a href="/">Home Page</a> to find out.
                    {{end}}
                </p>
            </div>
        </div>
    </div>
{{end}}